@import '../../../assets/stylesheets/utils.scss';

.contactanos-hero {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #f7f7f7;
    width: 80%;
    margin-top: -6px;
    padding: 60px 10%;   
    button {
      font-family: 'Segoe UI', sans-serif;
      background-color: $red;
      border: none;
      color: $white;
      width: 40%;
      height: 40px;
      font-weight: 300;
      font-size: 18px;
      margin-top: 30px;
      margin-left: 75px;
    } 
    &__title {
      font-size: 18px;
      color: $header-gray;
    }
    &__first-column {
      font-family: 'Segoe UI', sans-serif;
      width: 50%;
      display: flex;
      flex-direction: row;
      color: $header-gray;
      font-size: 14px;
      font-weight: bold;
      flex-wrap: wrap;
      margin: 0;
      list-style: none;
      li {
        font-family: 'Segoe UI', sans-serif;
        display: flex;
        width: 100%;
      }
      span {
        font-family: 'Segoe UI', sans-serif;
        width: 25%;
        height: 20px;
      }
      input {
        font-family: 'Segoe UI', sans-serif;
        border: none;
        width: 75%;
        height: 25px;
        font-size: 14px;
      }
      textarea {
        font-size: 14px;
        font-family: 'Segoe UI', sans-serif;
        width: 75% !important;
        height: 180px;
        border: none;
        // margin-top: -15px;
      }
    }
    &__second-column {
      font-family: 'Segoe UI', sans-serif;
      width: 50%;
      li {
        font-family: 'Segoe UI', sans-serif;
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 60px;
      }
      img {
        width: 30px;
        height: auto;
        margin-right: 20px;
      }
      &__item {
        font-family: 'Segoe UI', sans-serif;
        list-style: none;
        margin-top: 15px;
        color: $header-gray;
        font-weight: bold;
        font-size: 14px;
      }
      p {
        font-family: 'Segoe UI', sans-serif;
        margin: 0;
      }
    }
}