@import '../../../assets/stylesheets/utils.scss';

.description {
  margin: 200px 10% 0;
  width: 80%;
  display: flex;
  color: $header-gray;
  font-family: 'Segoe UI', sans-serif;
  justify-content: space-between;
  &__column {
    width: 50%;
    img {
      margin-top: 17px;
      width: 450px;
      height: auto;
    }
  }
  &__title {
    font-family: 'Segoe UI', sans-serif;
    font-size: 32px;
    font-weight: bold;  
    margin-top: 0;
  }
  &__description { 
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 80%;
    line-height: 25px;
  }
  &__btn {
    display: flex;
    font-family: 'Segoe UI', sans-serif;
    height: 40px;
    border-radius: 10px;
    color: $white;
    background-color: #48484991;
    border: none;
    font-size: 16px;
    text-decoration: none;
    width: 160px;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: $red;
    }
  }
}