.contactanos {
  width: 100%;
  &__hero {
    width: 100%;
    display: flex;
    &-img {
      width: 70%; 
      object-fit: contain;
      height: 550px; 
    }
  }
  &__location {
    width: 65%;
    height: 500px;
  }
}