@import '../../../assets/stylesheets/utils.scss';

.nuestros-servicios {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  background-color: $white;
  margin: 0 5%;
  justify-content: center;
  &__card {
    align-items: center;
    background-color: $white;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.5);
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: center;
    margin: 10px 1% 10px;
    width: 30%;
    &-header {
      font-family: 'Segoe UI', sans-serif;
      background-color: $red;
      color: $white;
      display: flex;
      align-items: center;
      padding-left: 25px;
      height: 35px;
      font-size: 16px;
    }
  }
  &__info {
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    padding: 2px 21px 10px;
    margin-top: 15px;
    color: $header-gray;
    p {
      margin: 6px 0;
    }
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 3px solid $white;
  }
  p {
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    line-height: 16px;
  }
}

@media (max-width: $xmedium) {
  .nuestros-servicios {
    &__card {
      width: 40%;
    }
  }
}

@media (max-width: $small) {
  .nuestros-servicios {
    &__card {
      width: 80%;
    }
  }
}