@import '../../../assets/stylesheets/utils.scss';

.nuestros-servicios {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 40px;
  background-color: $white;
  margin: 0 10%;
  &__card {
    width: 28%;
    height: 310px;
    background-color: $white;
    margin: 40px 1px 10px;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.5);
    &-header {
      font-family: 'Segoe UI', sans-serif;
      background-color: $red;
      color: $white;
      display: flex;
      align-items: center;
      padding-left: 25px;
      height: 35px;
      font-size: 16px;
    }
  }
  &__info {
    font-family: 'Segoe UI', sans-serif;
    font-size: 15px;
    padding: 2px 21px 10px;
    margin-top: 15px;
    color: $header-gray;
    p {
      margin: 6px 0;
    }
  }
  img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 3px solid $white;
    background-color: $red;
  }
  p {
    font-family: 'Segoe UI', sans-serif;
    width: 95%;
    line-height: 16px;
  }
}