@import '../../../assets/stylesheets/utils.scss';

.banner {
  font-family: 'Segoe UI', sans-serif;
  &__image {
    height: 650px;
    width: 100%;
    &-cap {
      position: absolute;
      background-color: black;
      z-index: 5;
      opacity: 0.6;
      height: 650px;
      width: 100%;
      margin-top: -654px;
    }
  }
  &__content{
    position: absolute;
    right: 0;
    display: flex;
    margin-top: -500px;
    margin-left: 20px;
    color: $white;
    z-index: 5;
    display: flex;
    flex-direction: column;
    width: 40%;
    &-title {
      width: 65%;
      z-index: 5;
      font-size: 42px;
      text-align: left;
      margin-bottom: -5px;
      font-weight: bold;
      line-height: 58px;
    }
    &-subtitle {
      width: 100%;
      z-index: 5;
      font-size: 22px;
      font-weight: 100;
    }
    button {
      background-color: $red;
      border: none;
      border-radius: 5px;
      color: $white;
      width: 30%;
      height: 40px;
      margin-left: 17%;
      font-weight: 300;
      font-size: 20px;
      
    }
  }
}