@import '../../../assets/stylesheets/utils.scss';

.menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', sans-serif;
    background-color: $white;
    width: 100%;
    box-shadow: -19px 0px 27px rgba(100,100,100,0.5);
    z-index: 5;
    position: sticky;
    top: 0;
    z-index: 1071;
    &__icon {
        width: 220px;
        margin: 0 0 0 14%;
    }
    &__list {
        font-family: 'Segoe UI', sans-serif;
        display: flex;
        list-style: none;
        margin: 0 15% 0 0;
        a {
            font-family: 'Segoe UI', sans-serif;
            padding: 29px 0 25px 20px;
            font-size: 18px;
            font-weight: 400;
            color: $header-gray;
            text-decoration: none;
        }
    }
    &__container {
        height: 75px;
        font-family: 'Segoe UI', sans-serif;position: sticky;
        top: 0;
        z-index: 10;
    }
}

.home-page__current-link {
    color: $red !important;
}

.contactanos__current-link {
    color: $red !important;
}

.nosotros__current-link {
    color: $red !important;
}

.portafolio__current-link {
    color: $red !important;
}