@import '../../../assets/stylesheets/utils.scss';

.menu {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', sans-serif;
    background-color: $white;
    width: 100%;
    box-shadow: -19px 0px 27px rgba(100,100,100,0.5);
    z-index: 5;
    position: sticky;
    top: 0;
    z-index: 1071;
    &__icon {
        margin: 0 0 0 14%;
        img {
            width: 220px;
        }
    }
    &__list {
        font-family: 'Segoe UI', sans-serif;
        display: flex;
        list-style: none;
        margin: 0 15% 0 0;
        a {
            font-family: 'Segoe UI', sans-serif;
            padding: 29px 0 25px 20px;
            font-size: 18px;
            font-weight: 400;
            color: $header-gray;
            text-decoration: none;
            &:hover {
                text-decoration: underline $red;
            }
        }
    }
    &__container {
        height: 75px;
        font-family: 'Segoe UI', sans-serif;position: sticky;
        top: 0;
        z-index: 10;
    }
}

.home-page__current-link {
    color: $red !important;
}

.contactanos__current-link {
    color: $red !important;
}

.nosotros__current-link {
    color: $red !important;
}

.portafolio__current-link {
    color: $red !important;
}

.servicios__current-link {
    color: $red !important;
}

@media (max-width: $large) {
    .menu {
        &__list {
            display: none;
        }
        &__icon {
            margin: 0 0 0 4%;
        }
    }

}

@media (min-width: $large) {
    .menu-activador {
        display: none;
    }
}

.menu-activador {
    width: 30px;
    height: 20px;
    margin: auto 5% auto 0;
    #lanzador {
      position: absolute;
      left: -9999px;
    }
    label {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;  
      cursor: pointer;
    }
    .menu-activador-linea {
      height: 2px;
      background-color: #000;
      opacity: 1;
      transform: translateY(0) rotate(0);
      transition: all 0.3s;
    }
    #lanzador:checked ~ label .menu-activador-linea {
      &:nth-child(1) {
        transform: translateY(9px) rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(-9px)rotate(-45deg);
      }
    }
  }
