@import '../../../assets/stylesheets/utils.scss';

.vmv {
  display: flex;
  font-family: 'Segoe UI', sans-serif;
  justify-content: space-around;
  margin: -100px 8% 0;
  padding: 20px 2%;
  background-color: $white;
  width: 80%;
  position: absolute;
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.66);
  > div {
    display: flex;
    width: 30%;
    &:nth-last-child(2) {
      text-align: center;
      .vmv__divider {
        display: none;
      }
    }
  }
  &__card {
    display: flex;
  }
  &__divider {
    height: 115px;
    width: 2px;
    background-color: $red;
    margin-left: 10px;
    margin-top: 50px;
  }
  &__column {
    display: flex;
    flex-direction: column;
    color: $header-gray;
    font-size: 14px;
    line-height: 20px;
    font-family: 'Segoe UI', sans-serif;
    width: 98%;
    &:nth-child(3) {
      text-align: center;
    }
  }
  &__title {
    font-family: 'Segoe UI', sans-serif;
    color: $red;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 0;
    text-align: center;
  }
  p {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
  }
}