.carousel.carousel-slider .control-arrow {
  margin: 0 20px;

  &:hover {
    background-color: transparent;
  }
  &::before {
    height: 2px;
  }
}

.carousel .control-dots {
  margin-bottom: 30px;
}

.carousel-status {
  display: none;
}
